*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pos-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
 
}

.container-paginate {
    font-family: sans-serif;
    text-align: center;
    height: 100%;
}

  
  .pagination {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    cursor: default;
    column-gap: 5px;
  }
  
  .pagination a {
    padding: 15px;
    border-radius: 5px;
    border: 1.5px solid #ee6464;
    color: #6c7ac9;
    transition: all 0.5s;
  }
  
  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link--active a {
    color: #fff;
    background: #6c7ac9;
  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  }
  

.paginate-title{
  font-size: 50px;
  color: red;
  font-family: 'Rowdies', cursive;
  padding-bottom: 50px;
}

.paginate-btn{
  background-color:transparent ;
  padding: 15px;
  margin-top: 15px;
  margin-left: 15px;
  border: 1.5px solid red;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  transition: all 0.5s;
}

.paginate-btn:focus{
  background-color: rgb(132, 0, 0, 0.6) ;
  padding: 15px;
  margin-top: 15px;
  margin-left: 15px;
  border: 1.5px solid red;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  transition: all 0.5s;
} 