*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container_landing {
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  row-gap: 25px;
  width: 100%;
  height: 170vh;

  background-image: url("../../img/Landing_Page/dog-4118585_1920.jpg"); 
  background-position: center center;
  background-size: cover;
  z-index: -1;
  text-align: center;
  font-family: "Nanum Myeongjo", serif;
  font-size: 100px;
}

.title_landing{
  color: transparent;
  -webkit-text-stroke: 2px white; /*-webkit es el procesador, este es para google chrome*/
}

.titleanddetail{
  bottom: 200px;
}

/* .title_landing{
  background-image: url('../../img/b-f/4.jpg');
  background-position: center;
  background-size: cover;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1.px red;
} */


.link_landing {
    text-decoration: none;
    border: 1px solid rgb(235, 140, 140);
    color: rgb(250, 245, 245);
    font-size: 35px;
    padding: 15px;
    margin: 45%;
    transition: 0.7s;
    animation-name: mianimacion;
    animation-duration: 0.5s;
  }
  
  .link_landing:hover {
    background-color: rgb(40, 66, 95);
    transition: 0.7s;
    animation-name: mianimacion;
    animation-duration: 0.5s;
  }
